:root{
    --card-width: ;
    --font-family: 'Space Grotesk', sans-serif;
    --font-size: 18px;
    --font-color: white;
    --card-height: 60%;
    
}
/* Structure principale */
body{
    margin:0;
    width: 100vw;
    height: 100vh;

}
main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    font-family: var(--font-family);
}
/* Haut de page */
.up{
    background-image: url(bg-main-mobile.png);
    height:37%;
    width: 100%;
    background-size: cover;
    color: var(--font-color);
}
/* Facecard */
.facecard{
    background-image: url(bg-card-front.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: var(--card-height);
    left:5%;
    top:50%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 7px;
    
}
.img .cardnum .cardinfo{
    margin: 10px;

}
img{
    height:30px;
    width:50px;
}
.cardnum{
    text-align: center;
    font-size: 20px;
}
.cardinfo{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
/* Backcard */
.backcard{
    background-image: url(bg-card-back.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: var(--card-height);
    left: 25%;
    top:7%;
    padding:15px;
    
}
#cv{
    
    left: 170px;
    top: 51px;
    font-size: 10px;    
}
/* Bas de page */
.down{
    height:70%;
    margin-top: 20%;
}
/* Formulaire */
form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin:0px 30px 30px 30px;
    height:100%;
    width:90%;
    
}
#expmonth, #expyear , #cvc{
    width: 100px;
    height: 30px;
    border-radius: 5px;
}
#expmonth, #expyear {
    width: 60px;
}

#cardholder, #cardnumber{
    width: 98%;
    height:30px;
    border: rgba(128, 128, 128, 0.507) solid 1px;
    border-radius: 5px;
    margin-top: 5px;
}

.expdate{
    display: flex;
    width: 100%;
    
   
}
.expmonth{
    width:50%;
}
label{
    display: block;
    font-size: 16px;
    font-weight: bold;
}
.cvc{
    width: 50%;
    
}
input{
    border: rgba(128, 128, 128, 0.507) solid 1px;
    padding: 10px;

}
button{
    background-color: rgb(16, 16, 62);
    color:white;
    border-radius: 5px;
    height: 15%;
    
}
input#cvc{
    width:96%;
}
.expdate{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 1000px){
    .up{
        position: relative;
    }
    .facecard{
        position: absolute;
        z-index: 2;

    }
    .backcard{
        position: relative;
        z-index: 1;
    }
    #cv{
        position: relative;

    }
     }
@media screen and (min-width: 1001px){
    main{
        display: grid; 
        grid-template-columns: 30% 70%;
        height: 100vh;
    }
    .up{
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        position: relative;
        height:100vh;
    }
    .down{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height:100vh;
        margin:0;
    }
    .facecard{
        position: absolute;
        top:20%;
        left:40%;
        height:21%;
        padding:30px;
        width:80%;
    
        z-index: 2;
    }
    .cardnum{
        margin-top: 40px;
        text-align: left;
        font-size: 30px;
    }
    img{
        height: 30%;
        width: 22%;
    }
    .backcard{
        position: absolute;
        left: 70%;
        top: 53%;
        height: 21%;
        width:80%;
        padding:30px;
        z-index: 1;
    }
    #cv{
        position: relative;
    }
 
    form{

        height: 40%;
        width: 30%;
        gap: 10px;
    }
    .expdate{
        display: flex;
        justify-content: space-between;
    }
    input{
        padding :0;
    }
    
    }